QDialog#LoginDialog,#RegisterDialog{
    background-color:rgb(255,255,255)
}

#userLabel,#pwdLabel{
    color:black;
}

#errorLabel[state='normal']{
    color:green
}

#errorLabel[state='error']{
    color:red
}

#pwdVisible[state='unvisible']{
   border-image: url(:/res/unvisible.png);
}
#pwdVisible[state='unvisible_hover']{
   border-image: url(:/res/unvisible_hover.png);
}
#pwdVisible[state='visible']{
   border-image: url(:/res/visible.png);
}
#pwdVisible[state='visible_hover']{
   border-image: url(:/res/visible_hover.png);
}
#confVisible[state='unvisible']{
   border-image: url(:/res/unvisible.png);
}
#confVisible[state='unvisible_hover']{
   border-image: url(:/res/unvisible_hover.png);
}
#confVisible[state='visible']{
   border-image: url(:/res/visible.png);
}
#confVisible[state='visible_hover']{
   border-image: url(:/res/visible_hover.png);
}

forgetLabel[state='normal'],#forgetLabel[state='selected']{
    color:black;
}

#forgetLabel[state='hover'], #forgetLabel[state='selected_hover']{
    color: rgb(42, 112, 241);
}

#sideBar{
  background-color:rgb(46,46,46);
}

#addBtn[state='normal']{
    border-image: url(:/res/add_friend_normal.png);
}

#addBtn[state='hover']{
    border-image: url(:/res/add_friend_hover.png);

}

#addBtn[state='press']{
    border-image: url(:/res/add_friend_hover.png);
}

#searchWid{
     background-color:rgb(247,247,247);
}
#searchEdit {
    border: 2px solid #f1f1f1;
}

#userWid{
    background-color:rgb(0,0,0);
}
#userList {
    background-color: rgb(247,247,248);
    border: none;
}
#userList::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}
#userList::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}
#userList::focus {
    border: none;
    outline: none;
}


ChatUserWid {
    background-color:rgb(247,247,247);
    border: none;
}
#chatWid{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#nameLabel{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
#timeWid #timeLabel{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}
QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}
QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}



LoadingDialog{
    background: #f2eada;
}
#titleLabel{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}
#chatEdit{
    background: #ffffff;
    border: none; /* 隐藏边框 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    font-size: 18px; /* 设置字体大小 */
    padding: 5px; /* 设置内边距 */
}
#sendWid{
    background: #ffffff;
    border: none; /* 隐藏边框 */
}
#addBtn[state='normal']{
    border-image: url(:/res/add_friend_normal.png);
}
#addBtn[state='hover']{
    border-image: url(:/res/add_friend_hover.png);
}
#addBtn[state='press']{
    border-image: url(:/res/add_friend_hover.png);
}
#recvBtn[state='normal']{
   background: #f0f0f0;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#recvBtn[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#recvBtn[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='normal']{
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#sendBtn[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}
#toolWid{
    background: #ffffff;
    border-bottom: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}
#emojiLabel[state='normal']{
    border-image: url(:/res/smile.png);
}
#emojiLabel[state='hover']{
    border-image: url(:/res/smile_hover.png);
}
#emojiLabel[state='press']{
    border-image: url(:/res/smile_press.png);
}
#fileLabel[state='normal']{
    border-image: url(:/res/filedir.png);
}
#fileLabel[state='hover']{
    border-image: url(:/res/filedir_hover.png);
}
#fileLabel[state='press']{
    border-image: url(:/res/filedir_press.png);
}

#chatDataList{
     background: #f0f0f0;
}

#chat_bg{
    background: #f0f0f0;
}

#chat_area{
    border: none;
}

#chat_user_name {
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#chatWid[state='normal']{
    border-image: url(:/res/chat_icon.png);
}

#chatWid[state='hover']{
    border-image: url(:/res/chat_icon_hover.png);
}

#chatWid[state='pressed']{
    border-image: url(:/res/chat_icon_press.png);
}

#chatWid[state='selected_normal']{
    border-image: url(:/res/chat_icon_press.png);
}

#chatWid[state='selected_hover']{
    border-image: url(:/res/chat_icon_press.png);
}

#chatWid[state='selected_pressed']{
    border-image: url(:/res/chat_icon_press.png);
}

#contactWid[state='normal']{
    border-image: url(:/res/contact_list.png);
}

#contactWid[state='hover']{
    border-image: url(:/res/contact_list_hover.png);
}

#contactWid[state='pressed']{
    border-image: url(:/res/contact_list_press.png);
}

#contactWid[state='selected_normal']{
    border-image: url(:/res/contact_list_press.png);
}

#contactWid[state='selected_hover']{
    border-image: url(:/res/contact_list_press.png);
}

#contactWid[state='selected_pressed']{
    border-image: url(:/res/contact_list_press.png);
}


#searchEdit {
    border: 2px solid #f1f1f1;
}

/* 搜索框列表*/
#searchList {
    background-color: rgb(247,247,248);
    border: none;
}

#searchList::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#searchList::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#searchList::focus {
    border: none;
    outline: none;
}

#invalid_item {
    background-color: #eaeaea;
    border: none;
}

#add_tip {
    border-image: url(:/res/addtip.png);
}

#right_tip{
 border-image: url(:/res/right_tip.png);
}

#message_tip{
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 12pt;
}